/.DS_Store
/Clean pop playlist of 2023 2024  Ed Sheeran, Adele, Selena Gomez, The Weeknd, Miley Cyrus, Rihanna.mp3
/Downloads
/Mix-Slicer
/__pycache__
/config.py
/mix.mp3
/myenv
/songs
/test.py
/tracks